/* This work is released into the public domain under the terms
 * of the creative commons legal code CC0 1.0 Universal.
 *
 * Please review the LICENSE.md file at <https://l-zeuch/studip-nord>
 * for more information.
 */

/*
 * Set up the nord palette, as per
 * https://www.nordtheme.com/docs/colors-and-palettes
 */
:root {
    /* Polar Night */
    --nord0:  #2E3440;
    --nord1:  #3B4252;
    --nord2:  #434C5E;
    --nord3:  #4C566A;

    /* Snow Storm */
    --nord4:  #D8DEE9;
    --nord5:  #E5E9F0;
    --nord6:  #ECEFF4;

    /* Frost */
    --nord7:  #8FBCBB;
    --nord8:  #88C0D0;
    --nord9:  #81A1C1;
    --nord10: #5E81AC;

    /* Aurora */
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

@-moz-document regexp("https://elearning\.uni-bremen.de/.*") {

  /*
   * DOCUMENT
   */
  a {
    color: var(--nord9) !important;
    transition-duration: 0.2s !important;
  }

  a:hover, a:focus {
    color: var(--nord7) !important;
  }

  h1, h2 {
    color: var(--nord6) !important;
  }

  h3, h4  {
    color: var(--nord5) !important;
  }

  h5, h6 {
    color: var(--nord4) !important;
  }

  div {
    color: var(--nord4) !important;
  }

  p, li, strong {
    color: var(--nord4) !important;
  }

  /*
   * NAVIGATION
   */
  #layout_container,
  #layout_container > div {
    background-color: var(--nord0) !important;
    background-image: none !important;
  }

  #layout_content {
    padding-left: 5px !important;
    border-left: 5px solid var(--nord1) !important;
  }

  #flex-header {
    background-color: var(--nord2) !important;
  }

  .tabs_wrapper, .tabs_wrapper > * {
    background-color: var(--nord1) !important;
  }

  #tabs > li {
    background-color: var(--nord1) !important;
  }

  /*
   * UI
   */
  .ui-dialog {
    background-color: var(--nord2) !important;
  }
  
  .ui-dialog-content {
    background-color: var(--nord2) !important;
  }

  .ui-resizable-handle {
    background-color: var(--nord0) !important;
  }

  .ui-dialog-buttonpane {
    background-color: var(--nord2) !important;
  }

  /* 
   * SEARCH
   */
  #globalsearch-searchbar > #globalsearch-list {
    background-color: var(--nord3) !important;
  }

  #globalsearch-list > article > section > header {
    background-color: var(--nord3) !important;
    color: var(--nord8) !important;
  }

  #notification_marker {
    color: var(--nord3) !important;
  }

  /*
   * WIDGETS
   */

  /* General widget styling */
  .studip-widget {
    border-color: var(--nord2) !important;
  }

  /* generic widget header */
  .studip-widget-wrapper > div > div:first-child {
  color: var(--nord5) !important;
  background-color: var(--nord3) !important;
  }

  /* generic widget body */
  .studip-widget-wrapper > div > div:nth-of-type(2) {
      background-color: var(--nord2) !important;
  }

  /* Schedule widget */
  .schedule_hours {
    background-color: var(--nord2) !important;
  }

  #schedule_data > thead > tr > td {
    background-color: var(--nord2) !important;
  }
  
  /* News widget */
  header,
  .studip.toggle,
  .studip.toggle.open {
    background-color: var(--nord1) !important;
    border-color: var(--nord1) !important;
  }
  
  .news_date {
    color: var(--nord4) !important;
  }

  .news_visits {
    color: var(--nord14) !important;
  }

  /*
   * MESSAGES
   */

  /* Message Inbox/Outbox */
  #messages > thead > tr > th {
    background-color: var(--nord1) !important;
    color: var(--nord4) !important;
  }

  #messages > tbody > tr {
    transition-duration: 0.3s !important;
  }

  #messages > tbody > tr.unread {
    background-color: var(--nord2) !important;
  }

  #messages > tbody > tr:hover {
    background-color: var(--nord3) !important;
  }

  /* Message popup */

  .message_body {
    background-color: var(--nord1) !important;
  }
}
