/* This work is released into the public domain under the terms
 * of the creative commons legal code CC0 1.0 Universal.
 *
 * Please review the LICENSE.md file at <https://l-zeuch/studip-nord>
 * for more information.
 */

/*
 * Set up the nord palette, as per
 * https://www.nordtheme.com/docs/colors-and-palettes
 */
:root {
    /* Polar Night */
    --nord0:  #2E3440;
    --nord1:  #3B4252;
    --nord2:  #434C5E;
    --nord3:  #4C566A;

    /* Snow Storm */
    --nord4:  #D8DEE9;
    --nord5:  #E5E9F0;
    --nord6:  #ECEFF4;

    /* Frost */
    --nord7:  #8FBCBB;
    --nord8:  #88C0D0;
    --nord9:  #81A1C1;
    --nord10: #5E81AC;

    /* Aurora */
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

@-moz-document regexp("https://elearning\.uni-bremen.de/.*") {
  a {
    color: var(--nord9) !important;
    transition-duration: 0.2s !important;
  }

  a:hover, a:focus {
    color: var(--nord7) !important;
  }

  div#layout_container,
  div#layout_container > div {
    background-color: var(--nord0) !important;
    background-image: none !important;
  }

  div#layout_content {
    padding-left: 5px !important;
    border-left: 5px solid var(--nord1) !important;
  }

  div#flex-header {
    background-color: var(--nord2) !important;
  }

  div.tabs_wrapper, div.tabs_wrapper > * {
    background-color: var(--nord1) !important;
  }

  ul#tabs > li {
    background-color: var(--nord1) !important;
  }

  header,
  article.studip.toggle,
  article.studip.toggle.open {
    background-color: var(--nord1) !important;
    border-color: var(--nord1) !important;
  }

  span.news_date {
    color: var(--nord4) !important;
  }

  span.news_visits {
    color: var(--nord14) !important;
  }
/* TODO: revisit this accent */
  li.studip-widget-wrapper > div > div:first-child {
  color: var(--nord5) !important;
  background-color: var(--nord9) !important;
  }

  li.studip-widget-wrapper > div > div:last-child {
      background-color: var(--nord2) !important;
  }
}
